@charset "UTF-8";
#diseasetitle{
	margin: 0 auto;
	text-align: center;
}

/* 검색 창 */
#search{
	margin: 0 auto;
	text-align: center;
}

/* 생활습관병 목록 */
#diseaseList{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

#diseaseList a {
	color: #716F6F;
}

#diseaseList a:hover{
	color: #FCA937;
	text-decoration: none;
}

#listcol{
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
}

#diseasetitle .mainTitle .btn{
	text-align: center;
	line-height: 100%;
	margin: 0.3em 0.2em;
	padding: 1em;
}
#diseasetitle .btn{
	text-align: center;
	line-height: 100%;
	margin: 0.3em 0.1em;
	padding: 0.5em 0.6em;
}

/* 반응형 웹 */
@media screen and (max-width: 850px){
	#diseaseList{grid-template-columns: repeat(3, 1fr);}
}

@media screen and (min-width: 851px) and (max-width: 1100px){
	#diseaseList{grid-template-columns: repeat(4, 1fr);}
}