@charset "UTF-8";
@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
    --bs-primary: #FCA937;
}
* {
	font-family: 'KoPubDotumMedium';
	font-size: 100%;

}
/*--------------------------추가---------------------------*/
/* 스크롤 디자인 -> 괜찮으면 전체 페이지 구성되면 적용하고 별로면 없애기  */
body{
	overflow-y: auto;
}
body::-webkit-scrollbar{
	margin: 20px 0 20px 0;
 	display: block;
	width: 15;
	border-radius: 15px;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #FCA937, #FFD37C);
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
}
/*-----------------------------------------------------*/

a{
    text-decoration: none;
}
.bg-primary{
    background-color: #FCA937;
}
.bg-second-color{
    background-color: #FFD37C;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #4A4A4A;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 2rem; /* 0.25rem;  */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0s ease-in-out, box-shadow 0 ease-in-out;
}
.btn-check:focus + .btn, .btn:focus {
	outline: 0;
	box-shadow: 0;
  }
.btn-check:focus + btn-primary, .btn-primary:focus{
	background-color: #FCA937;
	border-color: #FCA937;
	box-shadow: 0;
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle{
	background-color: #FCA937;
	border-color: #FCA937;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0;
}
.btn-group{
    margin: 0 auto;
}
.btn-primary {
    color: #fff;
    background-color: #FCA937; /* #0d6efd; */
    border-color: #FCA937; /* #0d6efd; */
}
.btn-primary:hover, .btn-primary:focus{
    color: #7f7c82;
    background-color: #FFD37C;
    border-color: #FFD37C;
    box-shadow: 0;
}
.btn-outline-primary {
    color: #FCA937;
    border: 0.01em solid #FCA937;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #FCA937;
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: #fff;
    background-color: #FCA937;
    border-color: #FCA937;
  }
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0;
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
    color: #FCA937;
    background-color: transparent;
  }
.btn-sm{
    width: 90px;
    height: 33px;
    font-weight: 400;
}
.btn-sm > .btn {
    padding: 0.375rem 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
}
.btn-new {
    color: #fff;
    background-color: #FCA937;
    border-color: #FCA937;
}

/*Floating Action Button*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(230, 137, 10, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: linear-gradient(to right, #FCA937, #FFD37C);
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(230, 137, 10, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}

.bg-color {
	background: #eaedf2;
}

main {
	margin-top: 70px;
	width: 100%;	
}

#mainText {	
	text-align: center;
	font-weight: bold;
	padding: 200px;
	color: white;
    width: 100%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.4);
}

#mainText a {
	color: white;
}

#mainText a:hover {
	color: #FFD37C;
}

#box1 {
	width: 100%;
	background: url('/images/indeximage.jpg');
}

#box2 {
	width: 100%;
	padding: 50px;
}

#box2 a {
	color: #716F6F;
}

#box2 a:hover {
	color: #FCA937;
	text-decoration: none;
}

.shadow {
	box-shadow: 5px 5px 10px;	
}

.diseaseCardStyle {
	width: 10em;
	height: 10em;
	display: inline-block;
	margin: 1em;
	border-radius: 2em;
}

.cardTextCenter {
	text-align: center;
	margin-top: 3em;
}

.mainTitle {
	text-align: center;
	margin-top: 50px;
}

#title {
	width: 15vw;
	padding: 20px auto;
	border: black;
	background: #FCA937;
	font-size: 1.3em;
	font-weight: bold;
}

.mainTitle a {
	font-weight: bold;
	font-size: large;
}

.mainTitle .btn {
	text-align: center;
	line-height: 100%;
	margin: 0.3em 0.2em;
	padding: 1em;
}

#myInfo {
	padding: 1em 2em;
	border: black;
	background-color: black;
	box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.5);
	font-size: 1.3em;
}

/* 텍스트 전환 효과 */
main p{
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
}

main .texts{
  width: 5.5em;
  height: 1.5em;
  text-align: center;
  overflow-y: hidden;
}

main .texts span{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

main .texts span {
  animation: ShiftText 25s linear infinite;
}

@keyframes ShiftText{
  0%{
    opacity: 0;
  }

  1%,10%{
    top: 0;
    opacity: 1;
  }
  
  11%,20%{
    top: -1.5em;
  }

  21%,30%{
    top: -3em;
  }

  31%,40%{
    top: -4.5em;
  }
  
  41%,50%{
    top: -6.0em;
  }

  51%,60%{
    top: -7.5em;
  }
  
  61%,70%{
    top: -9.0em;
  }
  
  71%,80%{
    top: -10.5em;
  }
  
  81%,90%{
    top: -12.0em;
  }
  
  91%,100%{
    top: -13.5em;
  }
}

#diseaseListCards {
	overflow-x: hidden;
	width: 61vw;
	height: 30vh;
	white-space: nowrap;
	margin: 0 auto;
}

#diseaseListCards a {
	display: inline;
}

.inline {
	height: 100%;
	display: inline;
}

#box2 h4, #diseaseList h4 {
	font-weight: bold;
}

.arrow {
	border: 0;
	background: transparent;
}