@charset "UTF-8";
@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'KoPubDotumMedium';
}

#loginBgColor {
	background: #FEE7C5;
}

input[type=text], input[type=password] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 1.1em;
	height: 45px;
	border-radius: 30px;
	border: 0.01em solid #EFEFEF;
	background-color: #EFEFEF;
	margin-top: 10px;
}

input[type=text]:hover, input[type=password]:hover, input[type=text]:focus, input[type=password]:focus {
	border:0.01em solid #FCA937;
}

.row{
	justify-content: space-around;
}

button:hover{
	color: #FCA937;
	background-color: transparent;
}

#loginBtn {
	background: linear-gradient(to left, #FCA937, #FFD37C);
	border: 0;
	height: 45px;
	font-size: 1.1em;
	padding: 0.4rem 1rem;
}

#findIdPw {
	color: #FCA937;
	font-size: 1.1em;
}

#findIdPw:hover {
	color: #E6890A;
}

#box {
	width: 70vw;
	height: 60vh;
	margin: 20vh auto;
	border-radius: 2em;
	background-color: white;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#leftBox {
	width: 35vw;
	height: 60vh;
	border-radius: 2em 0 0 2em;
	display: inline-block;
	margin: 0;
}

#rightBox {
	width: 35vw;
	height: 60vh;
	border-radius: 0 2em 2em 0;	
	background: linear-gradient(to right, #FCA937, #FFD37C);
	display: inline-block;
	margin: 0;
}

#loginElements {
	padding: 13vh 7vw;
}

main h2 {
	font-size: 2.3em;
}

main h3 {
	color: #4A4A4A;
	font-size: 1.7em;
	font-weight: bold;		
}

#msgLoginFail {
	color: red;
	padding: 0.5vh 1vw;
	visibility: hidden;
}

#joinBtn {
	border: 2px solid white;
	height: 45px;
	background-color: transparent;
	font-weight: bold;
	font-size: 1.1em;
	padding: 0.4rem 1rem;
}

#joinBtn:hover {
	background-color: white;
	color: #FCA937;
}

#msgWelcome {
	color: white;
}

label {
	color: #939393;
	font-size: 1.1em;
}

/* 체크박스 색상 변경 */
input[type="checkbox"] { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip: rect(0,0,0,0);
	border: 0; 
} 

input[type="checkbox"] + label{ 
	display: inline-block; 
	position: relative; 
	padding-left: 26px; 
	cursor: pointer; 
} 

input[type="checkbox"] + label:before{ 
	content: ''; 
	position: absolute;
	top: 5px;
	left: 5px;
	width: 17px; 
	height: 17px; 
	text-align: center; 
	background: #fff; 
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
}

input[type="checkbox"]:checked + label:after{ 
	content: ''; 
	position: absolute; 
	top: 5px;
	left: 5px;
	width: 17px; 
	height: 17px;
	border-radius: 3px;
	background: url('/images/check-square-fill.svg');
	background-size: cover;
}
