@charset "UTF-8";
nav {
	background: linear-gradient(to right, #FCA937, #FFD37C);
}

svg {
	margin: 5px;
}

.nav-item:hover {
	background-color: #E6890A;
}

.navbar-brand img {
	width: 2vw;
}

.nav-item a, .navbar-brand {
	font-size: 1.2em;
}